html,
body {
  max-width: 100vw;
}

html {
  overflow: visible;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.flex--col {
  display: flex;
  flex-direction: column;
}

.imgContainer {
  display: flex;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }
}