.homeContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .page {
        display: flex;
        flex-direction: row;
        max-height: calc(100vh - 4rem);
        min-height: calc(100vh - 4rem);
    }

    .page_firstPage {
        width: 100%;
        // overflow: hidden;
        position: relative;

        .imgContainer {
            img {
                object-fit: cover;
            }
        }

        .messageOverlayContainer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            width: 40%;

            .imgContainer {
                &.frenchFlag_blue {
                    color: rgba(0, 0, 255, 0.6);
                }

                &.frenchFlag_white {
                    color: rgba(255, 255, 255, 0.6);
                }

                &.frenchFlag_red {
                    color: rgba(255, 0, 0, 0.6);
                }

                img {
                    object-fit: contain;
                    animation: blurIn 1.5s ease-out forwards;
                }
            }
        }
    }

    .page_secondPage {
        justify-content: space-between;

        .homePage_aboutMe {
            flex-basis: 70%;
        }

        .portraitImg {
            flex-basis: 30%;
            align-items: end;

            img {
                object-fit: contain;
                height: auto;
            }
        }
    }
}

@keyframes blurIn {
    0% {
        background-color: transparent;
        opacity: 0;
        filter: blur(8px);
    }

    100% {
        background-color: currentColor;
        opacity: 1;
        filter: blur(0);
    }
}

.card {
  position: relative;
  background: #000;
  color: #f5d76e; /* soft gold text color */
  border-radius: 16px;
  padding: 2rem;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}