.homeContent {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;

    .page_firstPage {
        display: flex;
        flex-direction: row;
        min-height: calc(100vh - 4rem);
        max-height: calc(100vh - 4rem);
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}