.navbar {
    width: 100%;
    height: 4rem;
    background-color: white;
    position: relative;
    .buttonContainer{
        display: flex;
        height: 100%;
        flex-direction: row;
        align-content: space-between;
        justify-content: center;
        padding-inline: 20%;
    }
}